<ol class="breadcrumb">
    <li>
        <a href="{{ path('homepage') }}">
            <i class="fa fa-dashboard"></i> {{ 'menu.homepage'|trans }}
        </a>
    </li>
    {% if page %}
    <li class="active">{{ page }}</li>
    {% endif %}
</ol>