{% extends 'layout.html.twig' %}

{% block body_class %}hold-transition login-page{% endblock %}
{% block wrapper_class %}login-box{% endblock %}

{% block body %}
        {{ include('layout/parts/callout.html.twig') }}

        <div class="login-logo">
            <a href="{{ path('homepage') }}"><b>MDMH</b> Extranet</a>
        </div>
        <!-- /.login-logo -->
        <div class="login-box-body">
            {% block content %}{% endblock %}
        </div>
        <!-- /.login-box-body -->
{% endblock %}

{% block javascripts %}
    <!-- iCheck -->
    <script src="{{ asset('plugins/iCheck/icheck.min.js') }}"></script>
    <script>
        $(function () {
            $('input[type="checkbox"]').iCheck({
                checkboxClass: 'icheckbox_square-blue',
                radioClass: 'iradio_square-blue',
                increaseArea: '20%' // optional
            });
        });
    </script>
{% endblock%}
