# This file is a "template" of what your parameters.yml file should look like
# Set parameters here that may be different on each deployment target of the app, e.g. development, staging, production.
# https://symfony.com/doc/current/best_practices/configuration.html#infrastructure-related-configuration
parameters:
    mongodb.host: "127.0.0.1"
    mongodb.database: "project"
    mongodb.username: "admin"
    mongodb.password: "admin"
    mongodb.session.options:
        database: "%mongodb.database%"
        collection: Session

    mailer_transport: smtp
    mailer_host: 127.0.0.1
    mailer_user: null
    mailer_password: null

    secret: ThisTokenIsNotSoSecretChangeIt
